.page{
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: -0.7%;
}

/* navbar */
.nav{
    width: 89%;
    height: fit-content;
    display: flex;
    background-color: aquamarine;
    border-radius: 5px;
    position: fixed;
    margin:0 auto;

    /* color */
    background: linear-gradient(270deg, rgba(143, 0, 255, 0.2) 1.72%, rgba(0, 0, 0, 0) 100%), linear-gradient(270deg, rgba(20, 0, 255, 0.2) 36.47%, rgba(0, 0, 0, 0) 62.03%), linear-gradient(270deg, rgba(0, 10, 247, 0.2) 59.03%, rgba(0, 0, 0, 0) 93.7%), #00FFE0;
}
.nav .logo{
    max-width: 100%;
    position: relative;
    display: flex;
    margin: 2px 15px 2px 15px;
}
.nav .logo img{
    width: 60px;
}
.nav a{
    text-decoration: none;
}
.tombol{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.tombol ul{
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    margin: 0 5px 0 5px;
}
.tombol ul li{
    list-style: none;
    float: left;
    font-size: 2vmax;
    font-weight: bolder;
    padding: 0 15px 0 15px;   
}
.tombol .nl{
    color: black;
    transition: color 0.1s ease;
}
.nl:active{
    color: transparent;
}
/* slider */
 #slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
} 
#slider img {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
    height: auto;
}
  
/* content */
.gambar1 img{
    display: block;
    margin: auto;
    width: 50vw;
    padding-top: 6%;
    padding-bottom: 9px;
}

.pembatas{
    display: flex;
}
.pembatas .kosong{
    background-color: green;
    height: 29px;
    width: 6px;
    margin-right: 5px ;
}

.pembatas .beranda{
    font-size: 25px;
}
.news1{
    width: 45%;
    margin: 0 auto;
}
.news1 img{
    width: 300px;
    height: 200px;
    padding: 25px;
    margin-left: 80px;
}

.news1 .judul{
    font-size: 25px;
    border: 1px solid red;
    height: 60px;
}

.berita { 
    display: flex;
    flex-wrap: wrap;
}

table{
    width: 100%;
    border: 1px solid black;
    margin: 15px 0 15px 0;
}

th{
    width: 100px;
    background-color: #009688;
}

.warna{
    background-color: rgba(95, 95, 95, 0.479);
    text-align: center;
    width: 20px;
}

td{
    text-align: center;
    border: 1px solid black;
}

.bawah:hover{
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* tokohnu */
.bawahrutinan{
    margin: 0 0 15px 0;
}


/*footer*/

.footer{
    flex-wrap: wrap;
    display: flex;
    background: black;
    width: 100%;
    height: max-content;
    border-radius: 5px;
}

.bfooter{
    width: 500px;
    height: max-content;
    margin: 0 auto;
}
.alamat{
/* kotak gradsai */
    margin-top: 15px;
    margin: 15px 0 0 15px;
    width: max-content;
    height: max-content;
    background: linear-gradient(90deg, #009688 31.67%, rgba(217, 217, 217, 0) 124.62%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 6px;

/* alamat redaksi */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px;
}

.fbox {
    color: white;
    width: 400px;
    height: 30%;
    margin: 15px 0 0 15px;
}

/* kartu foto */
.bungkusFoto{
    display: flex;
    margin: 15px 0 15px 0;
    width: 100%;
    overflow: hidden;
}


.photo-card {
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    transition: box-shadow 0.3s;
  }
  .photo-card.clicked {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Efek tekanan saat diklik */
  }

  .photo-card img {
    display: block;
    width: 130px;
    margin: 5px auto;
  }
  
 
  .photo-info {
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .photo-info h3 {
    margin-top: 0;
  }
  
  .photo-info p {
    margin-bottom: 0;
  }



/* REUSE FUNCTION */
.click{
    cursor: pointer;
}

.click .nl{
    color: black;
    transition: color 0.1s ease;
}
.click:active{
    color: gray;
}